body {
    background-color: #b89d68;
    margin: 40px;
    font-family: 'Staatliches', sans-serif;
}

@font-face {
    font-family: 'Staatliches';
    src: url("Front End/Staatliches/Staatliches-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #b89d68;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-height: 100px;
}

.genre-section h2 {
    color: #b89d68;
    text-align: center;
    font-size: 40px;
}

.carousel-container {
    max-width: 1345px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.carousel {
 	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-item {
	min-width: 1345px;
}

.carousel img {
	width: 100%
	height: auto
	text-align: center;

}

.carousel-dots {
	text-align: center;
	margin-top: 10px;
}

/* Estilo para telas menores (até 767px de largura) */
@media screen and (max-width: 767px) {
    .carousel-container {
        max-width: 100%; /* Usar a largura total da tela */
    }

    .carousel-item {
        min-width: 100%; /* Utilizar a largura total da tela para cada item do carrossel */
    }

    .carousel img {
        width: 100%; /* Utilizar a largura total da tela para a imagem */
        height: auto; /* Altura automática para manter a proporção da imagem */
    }
}


.poster-container {
    display: inline;
    align-items: center; /* Centraliza verticalmente */
}

.poster-item {
    margin-right: 40px;
    margin-left: 100px;

}

.poster img {
    width: 30px;
    height: 50px;
}


@font-face {
    font-family: 'Titillium-Light';
    src: url("Front End/Titillium/Titillium-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium-Black';
    src: url("Front End/Titillium/Titillium-Black.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilo da sinopse */
.sinopse {
   text-align: center;

}

.sinopse p {
    font-family: 'Titillium-Light', sans-serif;
    src: url("Front End/Titillium/Titillium-Light.ttf") format('truetype');
    font-size: 20px;
    color:  #fff;
}


.sinopse p {
    font-family: 'Titillium-Light', sans-serif;
    font-size: 25px;
    color: #fff;
}

.episódios {
    padding: 5px;
    background-color: #b89d68;
    border-radius: 5px;
    text-align: center;
}

.episódios p {
    font-family: 'Titillium-Black', sans-serif;
    font-size: 20px;
    color: #b89d68;

}

.episódios a {
    font-family: 'Titillium-Black', sans-serif;
    font-size: 20px;
    color: #b89d68;

}
