body {
	background-color: #90639E;
	margin: 0; /* Remova a margem padrão do body para garantir que a cor de fundo cubra toda a tela */
	font-family: 'Staatliches', sans-serif;

}

@font-face {
	font-family: 'Staatliches';
	src: url('file:///Front End/Staatliches/Staatliches-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


header {
	background-color: #90639E; /* Cor de fundo do cabeçalho */
	padding: 20px;
	text-align: center;
}

.logo img {
	max-height: 100px; /* Ajuste conforme necessário */
}


/* Estilo padrão para posteres */
.poster-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que os posteres quebrem para a linha abaixo quando não há espaço suficiente */
}

.poster-item {
    margin-right: 30px; /* Adicione margem entre os posteres */
}

/* Estilo padrão para posteres */
.poster img {
    width: 150px; /* Largura dos posteres */
    height: auto;
}

/* Estilo para telas menores (até 767px de largura) */
@media screen and (max-width: 767px) {
    .poster img {
        width: 40%; /* Utiliza a largura percentual da tela para telas menores */
        max-width: 100px; /* Limita a largura máxima dos posteres */
    }
}


