body {
    background-color: #b89d68;
    margin: 20px;
    font-family: 'Staatliches', sans-serif;
}

@font-face {
    font-family: 'Staatliches';
    src: url("Front End/Staatliches/Staatliches-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #b89d68;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-height: 100px;
}

.genre-section h2 {
    color: #b89d68;
    text-align: center;
    font-size: 40px;
}

.poster-container {
    display: inline;
    align-items: center; /* Centraliza verticalmente */
}

.poster-item {
    margin-right: 40px;
    margin-left: 100px;

}

.poster img {
    width: 30px;
    height: 50px;
}


@font-face {
    font-family: 'Titillium-Light';
    src: url("Front End/Titillium/Titillium-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium-Black';
    src: url("Front End/Titillium/Titillium-Black.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilo da sinopse */
.sinopse {
   text-align: center;

}

.SINOPSE p {
    font-family: 'Titillium-Light', sans-serif;
    src: url("Front End/Titillium/Titillium-Light.ttf") format('truetype');
    font-size: 20px;
    color:  #fff;
}


.SINOPSE p {
    font-family: 'Titillium-Light', sans-serif;
    font-size: 25px;
    color: #fff;
}

.EPISÓDIOS {
    text-align: center;
    padding: 5px;
    background-color: #b89d68;
    border-radius: 5px;
}

.EPISÓDIOS p {
    font-family: 'Titillium-Black', sans-serif;
    font-size: 20px;
    color:  #fff;

}

.EPISÓDIOS a {
    font-family: 'Titillium-Black', sans-serif;
    font-size: 20px;
    color:  #fff;

}
