body {
    background-color: #90639E;
    margin: 20px;
    font-family: 'Staatliches', sans-serif;
}

@font-face {
    font-family: 'Staatliches';
    src: url("Front End/Staatliches/Staatliches-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #90639E;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-height: 100px;
}

.genre-section h2 {
    color: #ffb3d2;
    text-align: center;
    font-size: 40px;
}

/* Estilo da sinopse */
.sinopse {
    text-align: center;
}

.sinopse p {
    font-family: 'Titillium-Light', sans-serif;
    src: url("Front End\Titillium\Titillium-Light.ttf') format('truetype');
    font-size: 20px;
    color:  #fff;
}

.sinopse p {
    font-family: 'Titillium-Light', sans-serif;
    font-size: 25px;
    color: #fff;
}

.episódios {
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

.episódios p,
.episódios a {
    font-family: 'Titillium-Black', sans-serif;
    font-size: 20px;
    color: #fff;
}

/* Estilo para dispositivos móveis */
@media screen and (max-width: 767px) {
    .poster-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .poster-item {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .poster img {
        width: 100%;
        height: auto;
    }
}
